<div class="container">
  <h3 style="font-family: 'Museo-500', serif;">Assessments</h3>
  <table class="table table-bordered table-hover">
    <colgroup>
      <col width="98%">
      <col width="2%">
    </colgroup>
    <thead style="background: #626E7E;color: #d1d5db;">
      <tr>
        <th>Student Name
          <span class="search">
            <input type="text" name="search" (keyup)="search($event)"  placeholder="Search..">
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students;let s = index;">
        <td>
          <div class="row">
            <div class="col-sm-2 text-center">
              <a href="#">
              <img src="assets/assignment.png" style="height:50px"><br>
              <span>Assessment.png</span>
              </a>
            </div>
            <div class="col-sm-10">
              <div class="col-sm-8">
              <p><b>Student Name : </b>{{student.name}}</p>
              <p><b>Subject : </b>English</p>
              <p><b>Submitted At : </b>05/11/2017</p>
              <p *ngIf="s==4"><b>Marks : </b>58.12</p>
              <p *ngIf="s==2"><b>Marks : </b>78</p>
              <p *ngIf="s==7"><b>Marks : </b>33</p>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn-link pull-right" *ngIf="s==2 || s==7" data-toggle="modal" data-target="#commentModal" (click)="selectedAssesment = student">
                  <span class="glyphicon glyphicon-comment"></span> Comments <span class="badge"> 4 </span>
                </button>
              </div>              
            </div>
          </div>
        </td>
        <td>
          <span *ngIf="s==2"class="btn-link">Filled Assesment & <br>Accepted by Student</span>
          <span *ngIf="s==7"class="btn-link">Filled Assesment & <br>Not Accepted by Student</span>
          <span *ngIf="s==4"class="btn-link">Filled Assesment</span>
          <button *ngIf="s!=4&&s!=2&&s!=7" type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal" (click)="selectedAssesment = student">Fill-assessment</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="myModal" role="dialog" *ngIf="selectedAssesment">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Fill-assessment</h4>
        </div>
        <div class="modal-body">
          <p><label>Student Name : </label> {{selectedAssesment.name}}</p> 
          <p><label>Subject : </label> {{selectedAssesment.subjectName}}</p>
          <p><label>Marks : </label> <input type="text" ></p>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" >Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="commentModal" role="dialog" *ngIf="selectedAssesment">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comments by <b>{{selectedAssesment.name}}</b></h4>
        </div>
        <div class="modal-body">
          <div class="chat-list">
              <span class="left">
                <b>Pankaj :</b>
                <p>Hello .,. </p>
              </span>
              <div class="clear"></div>
              <span class="right">
                <p>Hello there!! </p>
              </span>
              <div class="clear"></div>
              <span class="left">
                <b>Pankaj :</b>
                <p>How r u? .,. </p>
              </span>
              <div class="clear"></div>
              <span class="right">
                <p>m fine thanx, how r u? </p>
              </span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
            <button type="button" class="btn btn-success col-sm-2">Send</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>